title = "{{game.title}}"
intro = "{{game.intro}}"
start = {{game.player.location.name}}
end : 
    conditions:
    {%for condition in game.end.conditions.conditions%}
        {%if condition.__class__.__name__ == "StateCondition"%}
        {{condition.state.name}} == {{condition.value|lower}}
        {%if condition.message%}
        message = "{{condition.message.text}}"
        {%endif%}
        {%else%}
        {{condition.object.name}}:
            location == {{condition.location.name}}
        {%if condition.message%}
            message = "{{condition.message.text}}"
        {%endif%}
        {%endif%}
    {%endfor%}
    success:
        message = "{{game.end.message.text}}"
locations :
{%for location in game.locations%}
    {{location.name}}:
        description = "{{location.description.text}}"
    {%if location.requirements%}
        conditions:
        {%for condition in location.requirements.conditions%}
            {%if condition.__class__.__name__ == "StateCondition"%}
            {{condition.state.name}} == {{condition.value|lower}}
            {%if condition.message%}
            message = "{{condition.message.text}}"
            {%endif%}
            {%else%}
            {{condition.object.name}}:
                location == {{condition.location.name}}
            {%if condition.message%}
            message = "{{condition.message.text}}"
            {%endif%}
            {%endif%}
        {%endfor%}
        failure:
            message = "{{location.message.text}}"
    {%endif%}
{%endfor%}

connections :
{%for connection in game.connections%}
    {{connection.from_location.name}} {{connection.direction}} {{connection.to_location.name}}
{%endfor%}

objects :
{%for object in game.objects%}
    {{object.name}}:
        description = "{{object.description.text}}"
        location = {{object.location.name}}
        {%if object.conditions%}
        conditions:
        {%for condition in object.conditions.conditions%}
            {%if condition.__class__.__name__ == "StateCondition"%}
            {{condition.state.name}} == {{condition.value|lower}}
            {%if condition.message%}
            message = "{{condition.message.text}}"
            {%endif%}
            {%else%}
            {{condition.object.name}}:
                location == {{condition.location.name}}
            {%if condition.message%}
            message = "{{condition.message.text}}"
            {%endif%}
            {%endif%}
        {%endfor%}
    {%endif%}
{%endfor%}

states:
{%for state in game.states%}
    {{state.name}}:
        object = {{state.related.name}}
        state = {{state.state}}
        priority = {{state.priority}}
        {%if state.true_message%}
        when_true = "{{state.true_message}}"
        {%endif%}
        {%if state.false_message%}
        when_false = "{{state.false_message}}"
        {%endif%}
{%endfor%}

actions:
{%for action in game.actions%}
    {%if action.__class__.__name__ == "StateAction"%}
    {{action.verb.name}} {{action.related.name}}:
        {%if action.conditions%}
        conditions:
        {%for condition in action.conditions.conditions%}
        {%if condition.__class__.__name__ == "StateCondition"%}
            {{condition.state.name}} == {{condition.value|lower}}
        {%else%}
            {{condition.object.name}}:
                location == {{condition.location.name}}
        {%endif%}
        {%if condition.message%}
            message = "{{condition.message.text}}"
        {%endif%}
        {%endfor%}
        {%endif%}
        changes:
        {%for change in action.changes%}
        {%if change.__class__.__name__ == "StateValueChange"%}
            {{change.state.name}} = {{change.value|lower}}
        {%else%}
            {{change.object.name}}:
                location = {{change.location.name}}
        {%endif%}
        {%endfor%}
        {%if action.message%}
        success:
            message = "{{action.message.text}}"
        {%endif%}
    {%else%}
    exam {{action.related.name}}:
        {%if action.conditions%}
        conditions:
        {%for condition in action.conditions.conditions%}
        {%if condition.__class__.__name__ == "StateCondition"%}
            {{condition.state.name}} == {{condition.value|lower}}
        {%else%}
            {{condition.object.name}}:
                location == {{condition.location.name}}
        {%endif%}
        {%if condition.message%}
            message = "{{condition.message.text}}"
        {%endif%}
        {%endfor%}
        {%endif%}
        {%if action.print_content%}
        print_content = {{action.print_content|lower}}
        {%endif%}
        {%if action.message%}
        message = "{{action.message.text}}"
        {%endif%}
    {%endif%}
{%endfor%}

verbs:
    {%for verb in game.verbs%}
    {{verb.name}}:
        description = "{{verb.description.text}}"
    {%endfor%}